# Neon.tech (PostgreSQL) Serverless Connection Pool
# Must append ?sslmode=require
DATABASE_URL="postgresql://user:password@host/neondb?sslmode=require"

# Clerk Authentication Keys
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY="pk_test_..."
CLERK_SECRET_KEY="sk_test_..."

# Application URL
NEXT_PUBLIC_APP_URL="http://localhost:3000"
