fastapi
uvicorn
sqlalchemy
pydantic
pydantic-settings
pydantic[email]
reportlab
PyJWT
cryptography
httpx
pytest
psycopg2-binary
email-validator
jinja2
python-multipart
alembic
clerk-backend-api
python-jose[cryptography]
